################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/src/IdentityServer/obj
/src/IdentityServer/bin
/src/JavaScriptClient/bin
/src/JavaScriptClient/obj
/src/WasmAppAuth/bin
/src/WasmAppAuth/obj
/src/Api1/bin
/src/Api1/obj
/src/Api2/bin
/src/Api2/obj
