################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/src/IdentityServer/obj
/src/IdentityServer/bin
/src/JavaScriptClient/bin
/src/JavaScriptClient/obj
/src/WebAssemblyClient1/bin
/src/WebAssemblyClient1/obj
/src/WebAssemblyClient2/bin
/src/WebAssemblyClient2/obj
/src/Api1/bin
/src/Api1/obj
/src/Api2/bin
/src/Api2/obj
/src/Api3/bin
/src/Api3/obj
